.main-nav {
	background: rgba(0, 0, 0, 0.2);
	height: 3 * $base-line-height;
	line-height: 3 * $base-line-height;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.main-nav ul {
	padding: 0;
}
.main-nav li {
	width: 23%;
	text-align: center;
	display: inline-block;
}
.main-nav a {
	font-family: 'League Gothic', sans-serif;
	font-size: 2em;
	color: rgba(255, 255, 255, 0.8);
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
	@include transition(all .15s ease-in-out);

	&:focus,
	&:hover {
		color: rgba(255, 255, 255, .95);
	}
}
.main-nav .active a {
	color: rgba(255, 255, 255, .95);
}